// Import page-specific CSS files here.
@import "home";

body {
  background: #FFFFFF url("http://res.cloudinary.com/dx1sso7tq/image/upload/v1677664877/yojrxovgw4wqo8fj90sg.jpg") repeat left top;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  color: #02021e;
  font-family: 'Audiowide', cursive;
}

h3 {
  font-size: 1.5rem;
  color: #02021e;
  font-family: 'Audiowide', cursive;
}

h4 {
  font-size: 1.75rem;
  color: #02021e;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h5 {
  font-size: 2.5rem;
  color: #02021e;
  font-family: 'Audiowide', cursive;
}

h6 {
  font-size: 1.75rem;
  color: #02021e;
  font-family: 'Audiowide', cursive;
}

label {
  font-weight: 700;
}

.form-select {
  background-color: white;
}

.btn-booking {
  background-color: #02021e;
  color: white;
  transition: 0.4s;
  padding: 5px 20px;
  font-weight: 400 !important;
}

.btn-booking:hover {
  background-color: #080859;
  color: white;
}

.color {
  border-top-color: #02021e;
  opacity: 0.75;
}

.star-color {
  color: #ffd27d;
  font-size: 18px;
}

.btn-booking .nav-link {
  font-weight: 400;
}

.padding-custom {
  padding-top: 0.15rem;
}

.margin-custom {
  margin-bottom: 1.75rem;
}

a {
  text-decoration: none;
}

.img-cover {
  object-fit: cover;
}
