<div class="container mt-3 d-flex">
  <div class="card">
    <%= month_calendar(start_date_param: :my_date) do |date| %>
      <%= date.day %>
    <% end %>
  </div>
  <div class="card">
    <%= month_calendar(start_date_param: :my_date) do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>
