
<div id="loading">
  <video class="fullscreen-video" id="bgvideo" autoplay muted loop>
    <source src="https://res.cloudinary.com/dx1sso7tq/video/upload/v1677755129/Cosmos_Loop_Video_fgqqsj.mp4" type="video/mp4">
  </video>
</div>

<div class="bubble">
  <p class="welcome">Welcome to the galaxy !</p>
  <div class="sub-bubble">
    <img class="logo-landing" src="http://res.cloudinary.com/dx1sso7tq/image/upload/v1677664569/d3sa7vylxvmeljtzqwlx.png">
  </div>
    <%= link_to planets_path do %>
      <div class="galaxy">
        <p>Go to hyperspace</p>
      </div>
    <% end %>
  </div>
</div>
