.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #02021e;
  font-weight: 200;
  font-family: 'Audiowide', cursive;
  font-size: 1.0rem;
}

.nav-item {
  padding-right: 16px;
}

.nav-item-planet {
  padding-top: 10px;
  padding-left: 15px;
}

.nav-item-add {
  background-color: #02021e;
}

.nav-item-add .nav-link {
  font-weight: 200;
}

.navbar-brand span {
  top: 15px;
  left: 65px;
  position: absolute;
  font-size: 1.5rem;
  color: #02021e;
  font-family: 'Audiowide', cursive;
}


//#02021e
// #f4f4f4
