.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #02021e;
  font-weight: 700;
}

.nav-item {
  padding-right: 16px;
}

.nav-item-planet {
  padding-top: 10px;
  padding-left: 15px;
}

.nav-item-add {
  background-color: #02021e;
}

.nav-item-add .nav-link {
  font-weight: 400;
}


//#02021e
// #f4f4f4
